<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="box">
        <h1>Todo List</h1>
    </div>
    <div class="box">
        <% for(var i=0;i < ejes.length ;i++){ %>

            <div class="item">
                <input type="checkbox">
                <p>
                    <%= ejes[i] %>
                </p>
                <form action="/delete" method="POST" style="margin-left: auto;">
                    <input type="hidden" name="itemIndex" value="<%= i %>">
                    <button type="submit" id="del" ><ion-icon name="trash"></ion-icon></button>
                </form>
            </div>

            <% } %>

                <form action="/" method="post">
                    <input type="text" name="input1" placeholder="Enter the task">
                    <button type="submit" id="submitTask">+</button>
                </form>
    </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>